*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
  
}

.pimg1{
    background-image: url(img/first-bg.png);
     min-height: 450px;
   
       }
 .pimg2{
     background-image: url(img/second-bg.png);
      min-height: 450px;
     
      }
  .pimg3{
     background-image: url(img/third-bg.png);
      min-height: 450px;
     
    }
  .pimg4{
    background-image: url(img/fourth-bg.png);
     min-height: 450px;
     width: 100%;
    }
  
.pimg1 ,.pimg2 ,.pimg3,.pimg4{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

 .navbar {
    position: relative;
top: 0;
    margin: 0;
   padding: 0;
    width: 70px;
    margin-top: -145%;
    
    height: 100%;
}

ul{
    list-style-type: none;
   
    width: 60px;
   top: 0%;
   padding: 0%;
   margin: 0%;
   position: fixed;
   background-color:  #405D72;
   height: 100%;
  }
    
li a {
    margin-top: 20px;
    display: block;
    color: #000;
    padding: 20px;
    text-decoration: none;
   font-size: 20px;
  }
   
  li a:hover {
    background-color:red;
    color: white;
  }

i{
    color: white;
} 

 .box{
  
    left: 30%;
    position: absolute;
    height: 400px;
    width: 500px;
    background-color:rgba(64,93,114,0.2);
}

.m1{
    top: 9%;
height: 402px;
}  
.m2{
    top: 82%;
    height: 450px;
}

.m3{
    top: 164%;
    height: 446px;
}
.m4{
    top: 245%;
    height: 400px;
}

.text1{
   
    margin-left: 50px;
    margin-top: 30px;
}

 #home h1{
    opacity: 1;
color: white;
font-weight: 800;
} 
 h1 span{
    font-size: 20px;
   font-weight: 300;
   margin-left: 5px;
}
.text2{
    background-color:#405D72;
    height: 200px;
    width: 440px;
    margin-left: 80px;
    margin-top: 20px;
    padding: 20px;
   display: flex;
}
.text2 h2{
   text-decoration: underline;
    font-size: 20px;
    font-weight: 400; 
    color: white;
   
}
.text2 p{
    opacity: 1;
    color: white;
  
}
.text2 p span{
    color: yellow;
}
.text2 h2 span{
    color: red;
}
.btn{
    height: 50px;
    background-color: red;
    color: white;
    font-size: 20px;
} 

 #about h1{
    font-weight: 400;
    text-align: center;
    color: white;
}

#about img{
    margin-left: -60px;
}

#about .text4{
 height: 280px;
 width: 320px;
 background-color: white;
position: absolute;
left: 45%;
top: 30%;
padding: 5px;
}
hr{
    margin-top: -20px;
  color: lightgrey;
  margin-left: 10px;
  margin-right: 10px;
}

 #about .text4 h2{
    font-size: 25px;
    font-weight: 400px;
    color:black;
    margin-left:10px ;
}
#about .text4 p ,button{
    margin-left:10px ; 
} 
 #gallery h2{
    font-weight: 400;
    text-align: center;
    color: white;
} 
 #container{
 
  width: 800px;
  height: 350px;
  margin-left: -150px;
 
} 
 #fx {
    display: flex; 
     justify-content:space-between;
    
    gap: 20px;
    width: 800px;
    height: 200px;
}

.carousel-inner{
   
    width: 800px;
    height: 350px;   
}
.dv{
   
    height: 200px;
  width: 230px;
    background-color: white;
    margin-left: 2px;
   
}
.b1{
    position: absolute;
    top: 50%;
   left: 1%;
}
.b1,.b2,.b3 h4{
    font-weight: 400;
    color: black;
    padding: 10px;
}
.dv p{
    font-weight: 400;
    color: black;
 
}
.b3 p{
    margin-left: 10px;
}
.b2{
    position: absolute;
    top: 50%;
    left:35%;
}
.b3{
    position: absolute;
    top: 50%;
    left:70%;
} 
.b1,.b2,.b3 button{
    margin-left:10px ;
}
.b3 p{
    margin-top: -10px;
}
.b3 button{
    margin-bottom: 10px;
}
.btn:hover{
    background-color: rgb(210, 25, 25);
}
.carousel-indicators .act{
background-color: red;
}
#contact h1{
    color: white;
    text-align: center;
}
.fm{
    background-color:rgba(64,93,114,0.2);
    height: 300px;
    width: 400px;  
}
form{
    padding: 20px;
  
}
input,textarea{
    background-color:#405D72;
    height: 50px;
    width: 300px;
    border: none;
   padding: 10px;
  
}
input::placeholder,textarea::placeholder{
    color: white;
   
}
textarea{
    height: 80px;
    width: 300px;
    background-color:#405D72;
}
.in{
    margin-top: 10px;
}
.dv6{
    position: absolute;
    top: 25%;
    left: 68%;
    height: 200px;
    width: 300px;
    background-color: white;
    padding: 10px;
}
.last-txt{
    color: white;
    margin-top: 40px;
    text-align: center;
}
.last-txt span{
    color: yellow;
}
  

 
@media screen and (max-width: 414px){
   
    html,body{
        box-sizing: border-box;
        height: 100%;
        margin: 0;
        font-size: 16px;
        font-family: "Lato",sans-serif;
        font-weight: 400;
        line-height: 1.8em;
        color: #666;
      
    }
    
    .pimg1{
        background-image: url(img/first-bg.png);
         min-height: 330px;
       width: 100%;
           }
     .pimg2{
         background-image: url(img/second-bg.png);
          min-height: 330px;
          width: 100%;
          }
      .pimg3{
         background-image: url(img/third-bg.png);
          min-height: 330px;
          width: 100%;
        }
      .pimg4{
        background-image: url(img/fourth-bg.png);
         min-height: 330px;
         width: 100%;
        }
      
    .pimg1 ,.pimg2 ,.pimg3,.pimg4{
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; 
    }
    .navbar {
        position: relative;
    top: 0;
        margin: 0;
       padding: 0;
        width: 40px;
        margin-top: -145%;
        
        height: 100%;
    }
    ul{
        list-style-type: none;
       width: 40px;
       top: 0%;
       padding: 10%;
       margin: 0%;
       position: fixed;
       background-color:  #405D72;
       height: 100%;
      }
        
    li a {
        margin-top: 20px;
        display: block;
        color: #000;
        padding: 20px;
       
        text-decoration: none;
       font-size: 15px;
      }
       
      li a:hover {
        background-color:red;
        color: white;
      }
    
    i{
        color: white;
        margin-left: -10px;
    } 
    
    .box{
  
        left: 15%;
        position: absolute;
        height: 200px;
        width: 240px;
        background-color:rgba(64,93,114,0.2);
    }
    
    .m1{
        top: 9%;
        height: 285px;
        left: 20%;
    }  
    .m2{
        top: 68%;
        height: 325px;
        left: 20%;
    }
    
    .m3{
        top: 135%;
        height: 330px;
        left: 20%;
    }
    .m4{
        top: 203%;
        height: 319px;
        left: 20%;
    }
    .text1{
   
        margin-left: 20px;
        margin-top: 20px;
    }
    
     #home h1{
        opacity: 1;
    color: white;
    font-weight: 600;
    } 
     h1 span{
        font-size: 12px;
       font-weight: 300;
       margin-left: 1px;
    }
    .text2{
        background-color:#405D72;
        height: 185px;
        width: 260px;
        margin-left: 30px;
        margin-top: 10px;
        padding: 10px;
       display: flex;
    }
    .text2 h2{
       text-decoration: underline;
        font-size: 14px;
        font-weight: 200; 
        color: white;
       
    }
    .text2 p{
        opacity: 1;
        color: white;
        font-size: 12px;
      
    }
    .text2 p span{
        color: yellow;
    }
    .text2 h2 span{
        color: red;
    }
    .btn{
        height: 30px;
        width: 80px;
        background-color: red;
        color: white;
  
    } 
    #bt1,#bt2{
        font-size: 7px;
    }
   .logo img{
    height: 60px;
    width: 60px;
    margin-top: 40px;
    margin-left:10px ;
   }
   #about h1{
    font-weight: 200;
    text-align: center;
    color: white;
    font-size: 20px;
}

#about img{
    width: 200px;
    height: 150px;
    margin-left: -20px;
}

#about .text4{
 height: 190px;
 width: 230px;
 background-color: white;
position: absolute;
left: 32%;
top: 30%;
padding: 5px;
}
hr{

  color: lightgrey;
  margin-left: 5px;
  margin-right: 5px;
}

 #about .text4 h2{
    font-size: 12px;
    font-weight: 300px;
    color:black;
    margin-left:10px ;
   
}
#about .text4 p ,button{
    margin-left:10px ; 
    font-size: 10px;
    margin-top: -10px;
}
#gallery h2{
    font-weight: 300;
    text-align: center;
    color: white;
    font-size: 20px
} 
 #container{
 
  width: 300px;
  height: 280px;
  margin-left: -24px;
 
} 

 #fx {
    display: flex; 
   justify-content: space-evenly;
    
    gap: 10px;
    width: 300px;
    height: 280px;
}
#fx img{
    height: 50px;
    width: 210px;
}

.carousel-inner{
   
    width: 300px;
    height: 280px;   
}
.dv{
   
    height: 180px;
  width: 90px;
    background-color: white;
    margin-left: 1px;
    
   
}
.b1{
    position: absolute;
    top: 15%;
   left: -3%;
}
.b1,.b2,.b3 h4{
    font-weight: 300;
    color: black;
    padding: 5px;
  
}
#h4{
    font-size: 12px;
}
.dv p{
    font-weight: 400;
    color: black;
    font-size: 10px;
    overflow: hidden;
 
}
.b3 p{
    margin-left: 10px;
}
.b2{
    position: absolute;
    top: 15%;
    left:32%;
}
.b3{
    position: absolute;
    top: 15%;
    left:70%;
} 
.b1,.b2,.b3 button{
    margin-left:10px ;
}
.b3 p{
    margin-top: -10px;
}
.b3 button{
    margin-bottom: 10px;
}
.bt3{
    height: 30px;
    width: 70px;
}
#btn3{
    font-size: 6px;
}
.dvb1{
    height: 70px;
    width: 180px;
    margin-left: 10px;
}
#last3{
    left: 30%;
    width: 100px;
}
.btn:hover{
    background-color: rgb(210, 25, 25);
}
.carousel-indicators .act{
background-color: red;
} 
#contact h1{
    color: white;
    text-align: center;
    font-size: 20px;
}
.fm{
    background-color:rgba(64,93,114,0.2);
    height: 220px;
    width: 240px;  
}
form{
    padding: 5px;
  
}
input,textarea{
    background-color:#405D72;
    height: 30px;
    width: 200px;
    border: none;
   padding: 5px;
  
}
input::placeholder,textarea::placeholder{
    color: white;
   
}
textarea{
    height: 80px;
    width: 200px;
    background-color:#405D72;
}
.in{
    margin-top: 10px;
}
.dv6{
    position: absolute;
    top: 40%;
    left: 65%;
    height: 100px;
    width: 140px;
    background-color: white;
    padding: 10px;
    font-size: 10px;
    overflow: hidden;
}
.last-txt{
    color: white;
    margin-top: 10px;
    text-align: center;
    font-size: 7px;
}
.last-txt span{
    color: yellow;
}

#conbtn{
    font-size: 8px;
    text-align: center;
}


}

@media screen and (max-width: 660px){
   
    html,body{
        box-sizing: border-box;
        height: 100%;
        margin: 0;
        font-size: 16px;
        font-family: "Lato",sans-serif;
        font-weight: 400;
        line-height: 1.8em;
        color: #666;
      
    }
    
    .pimg1{
        background-image: url(img/first-bg.png);
         min-height: 330px;
       width: 100%;
           }
     .pimg2{
         background-image: url(img/second-bg.png);
          min-height: 330px;
          width: 100%;
          }
      .pimg3{
         background-image: url(img/third-bg.png);
          min-height: 330px;
          width: 100%;
        }
      .pimg4{
        background-image: url(img/fourth-bg.png);
         min-height: 330px;
         width: 100%;
        }
      
    .pimg1 ,.pimg2 ,.pimg3,.pimg4{
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; 
    }
    .navbar {
        position: relative;
    top: 0;
        margin: 0;
       padding: 0;
        width: 40px;
        margin-top: -145%;
        
        height: 100%;
    }
    ul{
        list-style-type: none;
       width: 40px;
       top: 0%;
       padding: 0%;
       margin: 0%;
       position: fixed;
       background-color:  #405D72;
       height: 100%;
      }
        
    li a {
        margin-top: 20px;
        display: block;
        color: #000;
        padding: 20px;
        text-decoration: none;
       font-size: 15px;
       text-align: center;
      }
       
      li a:hover {
        background-color:red;
        color: white;
      }
    
    i{
        color: white;
        margin-left: -10px;
    } 
    
    .box{
  
        left: 15%;
        position: absolute;
        height: 200px;
        width: 240px;
        background-color:rgba(64,93,114,0.2);
    }
    
    .m1{
        top: 9%;
        height: 285px;
        left: 30%;
    }  
    .m2{
        top: 71%;
        height: 325px;
        left: 30%;
    }
    
    .m3{
        top: 142%;
        height: 330px;
        left: 30%;
    }
    .m4{
        top: 213%;
        height: 319px;
        left: 30%;
    }
    .text1{
   
        margin-left: 20px;
        margin-top: 20px;
    }
    
     #home h1{
        opacity: 1;
    color: white;
    font-weight: 600;
    } 
     h1 span{
        font-size: 12px;
       font-weight: 300;
       margin-left: 1px;
    }
    .text2{
        background-color:#405D72;
        height: 185px;
        width: 260px;
        margin-left: 30px;
        margin-top: 10px;
        padding: 10px;
       display: flex;
    }
    .text2 h2{
       text-decoration: underline;
        font-size: 14px;
        font-weight: 200; 
        color: white;
       
    }
    .text2 p{
        opacity: 1;
        color: white;
        font-size: 12px;
      
    }
    .text2 p span{
        color: yellow;
    }
    .text2 h2 span{
        color: red;
    }
    .btn{
        height: 30px;
        width: 80px;
        background-color: red;
        color: white;
  
    } 
    #bt1,#bt2{
        font-size: 7px;
    }
   .logo img{
    height: 60px;
    width: 60px;
    margin-top: 40px;
    margin-left:10px ;
   }
   #about h1{
    font-weight: 200;
    text-align: center;
    color: white;
    font-size: 20px;
}

#about img{
    width: 200px;
    height: 150px;
    margin-left: -20px;
}

#about .text4{
 height: 190px;
 width: 230px;
 background-color: white;
position: absolute;
left: 32%;
top: 30%;
padding: 5px;
}
hr{

  color: lightgrey;
  margin-left: 5px;
  margin-right: 5px;
}

 #about .text4 h2{
    font-size: 12px;
    font-weight: 300px;
    color:black;
    margin-left:10px ;
   
}
#about .text4 p ,button{
    margin-left:10px ; 
    font-size: 10px;
    margin-top: -10px;
}
#gallery h2{
    font-weight: 300;
    text-align: center;
    color: white;
    font-size: 20px
} 
 #container{
 
  width: 300px;
  height: 280px;
  margin-left: -24px;
 
} 

 #fx {
    display: flex; 
   justify-content: space-evenly;
    
    gap: 10px;
    width: 300px;
    height: 280px;
}
#fx img{
    height: 50px;
    width: 210px;
}

.carousel-inner{
   
    width: 300px;
    height: 280px;   
}
.dv{
   
    height: 180px;
  width: 90px;
    background-color: white;
    margin-left: 1px;
    
   
}
.b1{
    position: absolute;
    top: 15%;
   left: -3%;
}
.b1,.b2,.b3 h4{
    font-weight: 300;
    color: black;
    padding: 5px;
  
}
#h4{
    font-size: 12px;
}
.dv p{
    font-weight: 400;
    color: black;
    font-size: 10px;
    overflow: hidden;
 
}
.b3 p{
    margin-left: 10px;
}
.b2{
    position: absolute;
    top: 15%;
    left:32%;
}
.b3{
    position: absolute;
    top: 15%;
    left:70%;
} 
.b1,.b2,.b3 button{
    margin-left:10px ;
}
.b3 p{
    margin-top: -10px;
}
.b3 button{
    margin-bottom: 10px;
}
.bt3{
    height: 30px;
    width: 70px;
}
#btn3{
    font-size: 6px;
}
.dvb1{
    height: 70px;
    width: 180px;
    margin-left: 10px;
}
#last3{
    left: 30%;
    width: 100px;
}
.btn:hover{
    background-color: rgb(210, 25, 25);
}
.carousel-indicators .act{
background-color: red;
} 
#contact h1{
    color: white;
    text-align: center;
    font-size: 20px;
}
.fm{
    background-color:rgba(64,93,114,0.2);
    height: 220px;
    width: 240px;  
}
form{
    padding: 5px;
  
}
input,textarea{
    background-color:#405D72;
    height: 30px;
    width: 200px;
    border: none;
   padding: 5px;
  
}
input::placeholder,textarea::placeholder{
    color: white;
   
}
textarea{
    height: 80px;
    width: 200px;
    background-color:#405D72;
}
.in{
    margin-top: 10px;
}
.dv6{
    position: absolute;
    top: 40%;
    left: 65%;
    height: 100px;
    width: 140px;
    background-color: white;
    padding: 10px;
    font-size: 10px;
    overflow: hidden;
}
.last-txt{
    color: white;
    margin-top: 10px;
    text-align: center;
    font-size: 7px;
}
.last-txt span{
    color: yellow;
}

#conbtn{
    font-size: 8px;
    text-align: center;
}


}
@media screen and (min-width: 661px) and (max-width: 980px){
   
    html,body{
        box-sizing: border-box;
        height: 100%;
        margin: 0;
        font-size: 16px;
        font-family: "Lato",sans-serif;
        font-weight: 400;
        line-height: 1.8em;
        color: #666;
      
    }
    
    .pimg1{
        background-image: url(img/first-bg.png);
         min-height: 400px;
       width: 100%;
           }
     .pimg2{
         background-image: url(img/second-bg.png);
          min-height: 330px;
          width: 100%;
          }
      .pimg3{
         background-image: url(img/third-bg.png);
          min-height: 330px;
          width: 100%;
        }
      .pimg4{
        background-image: url(img/fourth-bg.png);
         min-height: 330px;
         width: 100%;
        }
      
    .pimg1 ,.pimg2 ,.pimg3,.pimg4{
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; 
    }
    .navbar {
        position: relative;
    top: 0;
        margin: 0;
       padding: 0;
        width: 40px;
        margin-top: -145%;
        
        height: 100%;
    }
    ul{
        list-style-type: none;
       width: 40px;
       top: 0%;
       padding: 0%;
       margin: 0%;
       position: fixed;
       background-color:  #405D72;
       height: 100%;
      }
        
    li a {
        margin-top: 20px;
        display: block;
        color: #000;
        padding: 20px;
        text-decoration: none;
       font-size: 15px;
       text-align: center;
      }
       
      li a:hover {
        background-color:red;
        color: white;
      }
    
    i{
        color: white;
        margin-left: -10px;
    } 
    
    .box{
  
        left: 15%;
        position: absolute;
        height: 200px;
        width: 300px;
        background-color:rgba(64,93,114,0.2);
    }
    
    .m1{
        top: 9%;
        height: 360px;
        left: 35%;
    }  
    .m2{
        top: 87%;
        height: 325px;
        left: 35%;
    }
    
    .m3{
        top: 157%;
        height: 330px;
        left: 35%;
    }
    .m4{
        top: 228%;
        height: 319px;
        left: 35%;
    }
    .text1{
   
        margin-left: 20px;
        margin-top: 20px;
    }
    
     #home h1{
        opacity: 1;
    color: white;
    font-weight: 600;
    } 
     h1 span{
        font-size: 12px;
       font-weight: 300;
       margin-left: 1px;
    }
    .text2{
        background-color:#405D72;
        height: 185px;
        width: 280px;
        margin-left: 40px;
        margin-top: 10px;
        padding: 10px;
       display: flex;
    }
    .text2 h2{
       text-decoration: underline;
        font-size: 14px;
        font-weight: 200; 
        color: white;
       
    }
    .text2 p{
        opacity: 1;
        color: white;
        font-size: 12px;
      
    }
    .text2 p span{
        color: yellow;
    }
    .text2 h2 span{
        color: red;
    }
    .btn{
        height: 30px;
        width: 80px;
        background-color: red;
        color: white;
  
    } 
    #bt1,#bt2{
        font-size: 7px;
    }
   .logo img{
    height: 80px;
    width: 80px;
    margin-top: 40px;
    margin-left:10px ;
   }
   #about h1{
    font-weight: 200;
    text-align: center;
    color: white;
    font-size: 20px;
}

#about img{
    width: 300px;
    height: 150px;
    margin-left: -20px;
}

#about .text4{
 height: 190px;
 width: 230px;
 background-color: white;
position: absolute;
left: 32%;
top: 30%;
padding: 5px;
}
hr{

  color: lightgrey;
  margin-left: 5px;
  margin-right: 5px;
}

 #about .text4 h2{
    font-size: 12px;
    font-weight: 300px;
    color:black;
    margin-left:10px ;
   
}
#about .text4 p ,button{
    margin-left:10px ; 
    font-size: 10px;
    margin-top: -10px;
}
#gallery h2{
    font-weight: 300;
    text-align: center;
    color: white;
    font-size: 20px
} 
 #container{
 
  width: 500px;
  height: 280px;
  margin-left: -90px;
 
} 

 #fx {
    display: flex; 
   justify-content: space-evenly;
    
    gap: 10px;
    width: 500px;
    height: 280px;
}
#fx img{
    height: 100px;
    width: 210px;
}

.carousel-inner{
   
    width: 500px;
    height: 280px;   
}
.dv{
   
    height: 180px;
  width: 150px;
    background-color: white;
    margin-left: 1px;
    
   
}
.b1{
    position: absolute;
    top: 18%;
   left: -1%;
}
.b1,.b2,.b3 h4{
    font-weight: 300;
    color: black;
    padding: 5px;
  
}
#h4{
    font-size: 14px;
}
.dv p{
    font-weight: 400;
    color: black;
    font-size: 12px;
    overflow: hidden;
 
}
.b3 p{
    margin-left: 10px;
}
.b2{
    position: absolute;
    top: 18%;
    left:33%;
}
.b3{
    position: absolute;
    top: 18%;
    left:69%;
} 
.b1,.b2,.b3 button{
    margin-left:10px ;
}
.b3 p{
    margin-top: -10px;
}
.b3 button{
    margin-bottom: 12px;
}
.bt3{
    height: 40px;
    width: 90px;
}
#btn3{
    font-size: 6px;
}
.dvb1{
    height: 100px;
    width: 210px;
    margin-left: 50px;
}
#last3{
    left: 30%;
    width: 150px;
}
.btn:hover{
    background-color: rgb(210, 25, 25);
}
.carousel-indicators .act{
background-color: red;
} 
#contact h1{
    color: white;
    text-align: center;
    font-size: 20px;
}
.fm{
    background-color:rgba(64,93,114,0.2);
    height: 220px;
    width: 240px;  
}
form{
    padding: 5px;
  
}
input,textarea{
    background-color:#405D72;
    height: 30px;
    width: 200px;
    border: none;
   padding: 5px;
  
}
input::placeholder,textarea::placeholder{
    color: white;
   
}
textarea{
    height: 80px;
    width: 200px;
    background-color:#405D72;
}
.in{
    margin-top: 10px;
}
.dv6{
    position: absolute;
    top: 40%;
    left: 65%;
    height: 100px;
    width: 140px;
    background-color: white;
    padding: 10px;
    font-size: 10px;
    overflow: hidden;
}
.last-txt{
    color: white;
    margin-top: 10px;
    text-align: center;
    font-size: 7px;
}
.last-txt span{
    color: yellow;
}

#conbtn{
    font-size: 8px;
    text-align: center;
}


}
@media screen and (max-width: 989) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
      
        height: 100%;
        margin: 0;
        font-size: 16px;
        font-family: "Lato",sans-serif;
        font-weight: 400;
        line-height: 1.8em;
        color: #666;
      
    }
    
    .pimg1{
        background-image: url(img/first-bg.png);
         min-height: 450px;
       
           }
     .pimg2{
         background-image: url(img/second-bg.png);
          min-height: 450px;
         
          }
      .pimg3{
         background-image: url(img/third-bg.png);
          min-height: 450px;
         
        }
      .pimg4{
        background-image: url(img/fourth-bg.png);
         min-height: 450px;
         width: 100%;
        }
      
    .pimg1 ,.pimg2 ,.pimg3,.pimg4{
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; 
    }
    
     .navbar {
        position: relative;
    top: 0;
        margin: 0;
       padding: 0;
        width: 70px;
        margin-top: -145%;
        
        height: 100%;
    }
    
    ul{
        list-style-type: none;
       
        width: 60px;
       top: 0%;
       padding: 0%;
       margin: 0%;
       position: fixed;
       background-color:  #405D72;
       height: 100%;
      }
        
    li a {
        margin-top: 20px;
        display: block;
        color: #000;
        padding: 20px;
        text-decoration: none;
       font-size: 20px;
      }
       
      li a:hover {
        background-color:red;
        color: white;
      }
    
    i{
        color: white;
    } 
    
     .box{
      
        left: 30%;
        position: absolute;
        height: 400px;
        width: 500px;
        background-color:rgba(64,93,114,0.2);
    }
    
    .m1{
        top: 9%;
    height: 405px;
    }  
    .m2{
        top: 97%;
        height: 450px;
    }
    
    .m3{
        top: 195%;
        height: 446px;
    }
    .m4{
        top: 292%;
        height: 400px;
    }
    
    .text1{
       
        margin-left: 50px;
        margin-top: 30px;
    }
    
     #home h1{
        opacity: 1;
    color: white;
    font-weight: 800;
    } 
     h1 span{
        font-size: 20px;
       font-weight: 300;
       margin-left: 5px;
    }
    .text2{
        background-color:#405D72;
        height: 200px;
        width: 440px;
        margin-left: 80px;
        margin-top: 20px;
        padding: 20px;
       display: flex;
    }
    .text2 h2{
       text-decoration: underline;
        font-size: 20px;
        font-weight: 400; 
        color: white;
       
    }
    .text2 p{
        opacity: 1;
        color: white;
      
    }
    .text2 p span{
        color: yellow;
    }
    .text2 h2 span{
        color: red;
    }
    .btn{
        height: 50px;
        background-color: red;
        color: white;
        font-size: 20px;
    } 
    
     #about h1{
        font-weight: 400;
        text-align: center;
        color: white;
    }
    
    #about img{
        margin-left: -60px;
    }
    
    #about .text4{
     height: 280px;
     width: 320px;
     background-color: white;
    position: absolute;
    left: 45%;
    top: 30%;
    padding: 5px;
    }
    hr{
        margin-top: -20px;
      color: lightgrey;
      margin-left: 10px;
      margin-right: 10px;
    }
    
     #about .text4 h2{
        font-size: 25px;
        font-weight: 400px;
        color:black;
        margin-left:10px ;
    }
    #about .text4 p ,button{
        margin-left:10px ; 
    } 
     #gallery h2{
        font-weight: 400;
        text-align: center;
        color: white;
    } 
     #container{
     
      width: 800px;
      height: 350px;
      margin-left: -150px;
     
    } 
     #fx {
        display: flex; 
         justify-content:space-between;
        
        gap: 20px;
        width: 800px;
        height: 200px;
    }
    
    .carousel-inner{
       
        width: 800px;
        height: 350px;   
    }
    .dv{
       
        height: 200px;
      width: 230px;
        background-color: white;
        margin-left: 2px;
       
    }
    .b1{
        position: absolute;
        top: 50%;
       left: 1%;
    }
    .b1,.b2,.b3 h4{
        font-weight: 400;
        color: black;
        padding: 10px;
    }
    .dv p{
        font-weight: 400;
        color: black;
     
    }
    .b3 p{
        margin-left: 10px;
    }
    .b2{
        position: absolute;
        top: 50%;
        left:35%;
    }
    .b3{
        position: absolute;
        top: 50%;
        left:70%;
    } 
    .b1,.b2,.b3 button{
        margin-left:10px ;
    }
    .b3 p{
        margin-top: -10px;
    }
    .b3 button{
        margin-bottom: 10px;
    }
    .btn:hover{
        background-color: rgb(210, 25, 25);
    }
    .carousel-indicators .act{
    background-color: red;
    }
    #contact h1{
        color: white;
        text-align: center;
    }
    .fm{
        background-color:rgba(64,93,114,0.2);
        height: 300px;
        width: 400px;  
    }
    form{
        padding: 20px;
      
    }
    input,textarea{
        background-color:#405D72;
        height: 50px;
        width: 300px;
        border: none;
       padding: 10px;
      
    }
    input::placeholder,textarea::placeholder{
        color: white;
       
    }
    textarea{
        height: 80px;
        width: 300px;
        background-color:#405D72;
    }
    .in{
        margin-top: 10px;
    }
    .dv6{
        position: absolute;
        top: 25%;
        left: 68%;
        height: 200px;
        width: 300px;
        background-color: white;
        padding: 10px;
    }
    .last-txt{
        color: white;
        margin-top: 40px;
        text-align: center;
    }
    .last-txt span{
        color: yellow;
    }
}
  
  
  
  
  
  
  
  
  
  
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  